@page "/EmployeeView"
@using BlazorBootstrap
@using GraphQLClient.DataAccess
@using GraphQLClient.DataAccess.Model
@using System.ComponentModel.DataAnnotations
@using System.Drawing


@inject NavigationManager NavigationManager

<h3>Список работников</h3>
@if (AllEmployees.Count == 0)
{
    <p><em>Loading ....</em></p>
}
else
{
    <Grid TItem="Employee"
          Class="table table-hover table-bordered table-striped"
          DataProvider="EmployeesDataProvider"
          AllowPaging="true"
          AllowFiltering="true"
          AllowSorting="true"
          AutoHidePaging="true"
          PageSize="10"
          PageSizeSelectorVisible="true"
          PageSizeSelectorItems="@(new int[] { 5,10,20 })"
          Responsive="true">
    <GridColumns>
            <GridColumn TItem="Employee" HeaderText="Имя работника" PropertyName="Name" SortKeySelector="item => item.Name">
            @context.Name
        </GridColumn>
            <GridColumn TItem="Employee" HeaderText="Возраст работника" PropertyName="Age" SortKeySelector="item => item.Age">
            @context.Age
        </GridColumn>
            <GridColumn TItem="Employee" HeaderText="Email работника" PropertyName="Email" SortKeySelector="item => item.Email">
            @context.Email
        </GridColumn>
            <GridColumn TItem="Employee" HeaderText="Подразделение работника" PropertyName="DepartmentName" SortKeySelector="item => item.Department!.Name">
            @context.Department!.Name
        </GridColumn>
    </GridColumns>
    </Grid>
    <a href="/CreateEmployee" class="btn btn-primary">Создать работника</a>
}
@code {
    private List<Employee> AllEmployees = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            string completeQuery = "query{allEmployeeWithDepartment{name,age,departmentId,email,employeeId,department{name,departmentId}}}";
            string qraphQLQueryType = "allEmployeeWithDepartment";
            var result = await Query.ExceuteQueryReturnListAsyn<Employee>(qraphQLQueryType, completeQuery);
            AllEmployees = result;
        }
        catch(Exception ex)
        {
            throw ex;
        }
    }
    private async Task<GridDataProviderResult<Employee>> EmployeesDataProvider(GridDataProviderRequest<Employee> request)
    {
        return await Task.FromResult(request.ApplyTo(AllEmployees));
    }
}
